@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 400px) {
  .layout {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)) !important;
  }
}

.fc .fc-header-toolbar {
  display: none;
  margin: 0;
}

.fc .fc-col-header-cell {
  height: 26px
}

/* sorry, Fullcalendar guys :( */
.fc .fc-license-message {
  display: none;
}