@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 400px) {
  .layout {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)) !important;
  }
}
